//========================================================================================================================================================

.page {
    // .page__projects-slider

    &__projects-slider {
        @include adaptiveValue("padding-top", 200, 50);
        @include adaptiveValue("padding-bottom", 50, 20);
    }
}

//========================================================================================================================================================

.dots {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;

    .swiper-pagination-bullet {
        margin: 0px rem(7.5);
        cursor: pointer;
        height: rem(10);
        width: rem(10);
        transition: all 0.3s ease 0s;
        background-color: black;
        border-radius: 50%;
        position: relative;

        &-active {
            background-color: orange;
        }
    }
}