//====================================================================================================

.slider-projects {

    // .slider-projects__container

    &__container {}

    // .slider-projects__slider

    &__slider {
        margin: rem(-30) rem(-15);
        padding: rem(30) rem(15);
    }

    // .slider-projects__wrapper

    &__wrapper {
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
    }

    // .slider-projects__slide

    &__slide {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease 0s;
        height: auto;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            }
        }
    }

    // .slide-projects__title
}

.slide-projects {
    border-radius: rem(10);

    // .slide-projects__inner

    &__inner {}

    // .slide-projects__body

    &__body {}

    // .slide-projects__image-ibg

    &__image-ibg {
        padding-bottom: percent(800, 1920);

        img {
            border-top-left-radius: rem(10);
            border-top-right-radius: rem(10);
        }
    }
}

.body-slide-projects {
    @include adaptiveValue("padding", 30, 10);
    // .body-slide-projects__title

    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 30, 22);
    }
}

.swiper-slide {}


//====================================================================================================